/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
	body {
		background : #EFEFE2;
		color: #555555;

	}

	a:link {text-decoration:none;}
	a:visited {text-decoration:none;}
	a:hover {text-decoration:none;}
	a:active {text-decoration:none;}

	.title-main {
		color: #555555;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	}

	.main h1 {
		text-align: center;
		margin-top:80px;
		margin-bottom:80px;
		font-size: 8em;

	
	}
	.io {
		color:#18B3DD;
	}

	.content {
		font-size: 2.5em;
		text-align: justify;
		margin: auto;
		line-height: 1.4;
	}

	.social {
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px; /* future proofing */
		-khtml-border-radius: 10px; /* for old Konqueror browsers */;
		padding: 5px;
	}

	.github {
		color: #AC5E52;
	}

	.github:hover {
		color: #F4CAB1;
		background: #AC5E52;
	}

	.twitter {
		color: #00B0ED;
	}

	.twitter:hover {
		color: #FFF;
		background: #00B0ED;
	}
	.fb {
		color: #3b5998;
	}

	.fb:hover {
		color: #FFF;
		background: #3b5998;
	}

	.shout {
		color: #3b5998;
	}

	.shout:hover {
		color: #FFF;
		background: #3b5998;
	}

	.ar {
		color: #EE9F14;
	}

	.ar:hover {
		color: #EE9F14;
		background: #000;
	}

	.yt {
		color: #E42D2A;
	}

	.yt:hover {
		color: #FFF;
		background: #E42D2A;
	}

	.link {
		color: #3b5998;
	}

	.link:hover {
		color: #FFF;
		background: #3b5998;
	}
/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.content {
		font-size: 2em;
	}
	
	
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	.content {
		font-size: 2em;
	}
	
	.main h1 {
		font-size:4em;
		margin-top:40px;
		margin-bottom:40px;
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
